@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* auth */
    --primary-color: #1076dc;
    --secondary-color: #ffff;
    --third-color: black;
    --color-warning: rgb(123, 123, 2);
    --color-background: rgb(24, 167, 238);
    --first-color: #4723D9;
    --first-color-light: #8e7bdc;
    --first-color-light-hover: #7a5afb;
    --white-color: #F7F6FB;
    --body-font: "Poppins", sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box
}

/* login.js and register.js */

/* login */
#background-login,
#background-register {
    background-color: var(--primary-color);

}

#heading-form i {
    color: var(--third-color);
}

/* tombol button login */
#tombol-button-login,
#tombol-button-register {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all .5s;
}

:is(#tombol-button-login, #tombol-button-register):hover {
    background-color: var(--color-background);
    color: var(--third-color)
}

.text-warn {
    color: var(--color-warning)
}

/* end */

/* isian info akun */
#info_akun {
    gap: 1rem;
}

/* saat minimum 768px */
@media screen and (min-width: 768px) {

    /* ===main content=== */
    #dashboard-main {
        max-width: 100%;
        max-height: 100%;
        height: 90vh;
    }

    #dashboard-main #heading h4 {
        color: var(--secondary-color);
    }

    #dashboard-main :is(.bi, .bx) {
        background-color: var(--first-color);
        padding: 1rem;
        color: var(--secondary-color);
        font-size: 2rem;
    }

    #dashboard-main :is(#list1, #list2) .sublist {
        background-color: var(--first-color-light);
        transition: .3s ease-in-out;
    }

    #dashboard-main :is(#list1, #list2) .sublist:hover {
        background-color: var(--first-color-light-hover);
    }

    /* ===end=== */
}